/** SC.Panel Support */

.sc-pane.sc-panel {
  overflow: visible;
  z-index: 100;
}

.sc-pane.sc-modal.for-sc-panel {
  background: url('/static/sproutcore/desktop/en/current/images/standard_fade/000000.png?1241509782') repeat ;
}

.sc-pane.sc-panel > .sc-view {
  border: 0px #444 solid;
  background-color: #eaeaea ;
}

.sc-pane.sc-panel > .top-right-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') no-repeat -40px -120px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .top-left-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') no-repeat 0px -120px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-left-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') no-repeat 0px -160px;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-right-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') no-repeat -40px -160px;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .top-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') repeat-x 0px -230px;
  position: absolute;
  height: 20px;
  top: -20px;
  right: 20px;
  left: 20px;
  z-index: -1;
}

.sc-pane.sc-panel > .bottom-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-x.png?1241509782') repeat-x 0px -210px;
  position: absolute;
  height: 20px;
  bottom: -20px;
  right: 20px;
  left: 20px;
  z-index: -1;
}

.sc-pane.sc-panel > .left-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-y.png?1241509782') repeat-y 0px 0px;
  position: absolute;
  width: 20px;
  top: 20px;
  bottom: 20px;
  left: -20px;
  z-index: -1;
}

.sc-pane.sc-panel > .right-edge {
  background: url('/static/sproutcore/desktop/en/current/images/panels/sprite-y.png?1241509782') repeat-y -20px 0px;
  position: absolute;
  width: 20px;
  top: 20px;
  bottom: 20px;
  right: -20px;
  z-index: -1;
}