.aboutSection .sc-label-view.sc-regular-size {
	font-weight:normal;
	font-size: 16px;
	font-family: 'Helvetica',sans-serif;
	line-height:19px;
}

.contentPage .sc-label-view.sc-regular-size.aboutSectionHeader {
	font-size: 20px;
	font-weight: 500;
}

.aboutSection .sc-label-view.sc-regular-size.caption {
	font-style: italic;
	font-size: 20px;
	font-family: 'Georgia',serif;
	line-height:22px;
}

.dataFigureHolder {
	text-align:center;
}
.contentPage .sc-label-view.sc-regular-size.dataFigure {
	font-size: 32px;
	color: #004400;
	line-height:normal;
}
.contentPage .sc-label-view.sc-regular-size.dataFigureLabel {
	font-size: 18px;
	text-align:center;
	color: black;
	line-height:normal;
}

.aboutSection .separator {
	border-bottom: 1px solid gray;
}

.aboutContactLink a {
	font-family: 'Arial',sans-serif;
	text-decoration: none;
}