/********** ITEMS LIST ***********/

.sc-theme.focus .sc-collection-view.loanListView.focus .sc-collection-item.sel {
	background-color: #ddeedd;
	color: black;
}

body.sc-theme .sc-view.sc-gray-border.no-border {
	border: none;
}

.lendingLoanListBar {
	border-top: 1px solid gray;
	background-color: #f0f0f4;
}

/****** FILTER PANE ***********/

.lendingSidebar {	
	border-right: 1px solid gray;
}

/* labels in the sidebar should be black & not wrap */
.lendingSidebar .sc-label-view, .lendingSidebar .sc-checkbox-view .label {
  color: black;
  white-space:nowrap;
  text-overflow: ellipsis;
}
/* custom header size for Filter pane subheaders */
.filter-subheader.sc-large-size  {
  font-size: 14px;
}
.picker-button {
 /* unfortunately, most of this fails to style the button b/c of theme override.. */
	border: 1px solid black;
	background-color: #ffffff;
	padding: 5px;
	color: gray;
}
.sc-split-divider-view {
	background-color: gray;
}
.klb-header {
	border-bottom: 2px solid #009900;
}
/*.klb-chrome { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6E7EA1), to(#424C61), color-stop(.6,#3B4457)); color: white;}*/
.klb-static-content {
	margin: 20px auto;
	width: 800px;
}
.klb-static-content li {
	margin-bottom:10px
}
.klb-static-content p {
	margin-bottom:15px
}
.kiva-figureRight {
	margin:10px 20px;
	float:right;
	padding:10px;
	border: 1px solid gray;
	width:250px;
	font-size:90%;
}
.kiva-figureRight img {
	width: 250px;
	height: 289px;
}

/****** COUNTRY PICKER PANE ***********/
/* for our "grid" view of buttons, left align text in the boxes */
.sc-theme .sc-view .sc-button-view.align-left .sc-button-label {
  text-align: left;
}

.sc-theme .buttonGridView .sc-button-view.sc-regular-size.square {
	border: 2px solid #8bc8cd;
	background: white;
	font-weight: normal;
	font-size: 14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	max-height:30px;
}

.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner{
	margin-top: 3px;
}

.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.active .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.active .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
	background: none;
	text-shadow: none;
	color: black;
}

.buttonGridView .sc-button-view.sc-regular-size.square.active,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active {	
	background: #dcfefa;
}

.buttonGridView .sc-button-view.sc-regular-size.square.sel {
	background: #8bc8cd;
}
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	color: white;
}

.buttonGridView .sc-button-view.icon img.icon {
	margin-right: 4px;
	height: 24px;
	width: 24px;
}

