/********** GENERAL ***********/
.sc-theme .sc-button-view.picker-button {
 /* unfortunately, most of this fails to style the button b/c of theme override.. */
	border: 1px solid gray;
	background-color: #ffffff;
	color: #656565;
	font-size:11px;
}
.sc-theme .sc-button-view.picker-button.active {
	color: white;
	background-color:#656565;
}
.picker-button.sc-button-view label {
	line-height: 18px;
}

/********** ITEMS LIST ***********/

.sc-theme.focus .sc-collection-view.loanListView.focus .sc-collection-item.sel {
	background-color: #ddeedd;
	color: black;
}

body.sc-theme .sc-view.sc-gray-border.no-border {
	border: none;
}

.lendingLoanListBar {
	border-top: 1px solid gray;
	background-color: #f4f4f4;
}

.sc-theme .sc-button-view.picker-button.lendButton {
	color: white;
	background-color: rgb(134,179,0);
	border:1px solid rgb(98,133,37);
	font-size: 14px;
}
.sc-theme .sc-button-view.picker-button.active.lendButton {
	background-color: rgb(98,133,37);
}

/****** FILTER PANE ***********/

.lendingSidebar {	
	border-right: 1px solid gray;
}
 .sc-list-view.sc-source-list .sc-collection-item.klb-filter-item-view {
 	font-size: 12px;
 	font-weight: 300;
 }

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.klb-filter-item-view.sel {
	background: none;
	background-color:rgb(115, 188, 205);
	border-top:2px solid rgb(101,166,181);
	border-bottom:2px solid rgb(101,166,181);
	color: white;
}
.sc-list-view.sc-source-list .sc-collection-item.klb-filter-item-view.disabled {
	color: #888;
	font-family: 'museo-slab-1','Arial','sans-serif';
	font-weight: 500;
	font-size:14px;
	padding-top: 10px;
}

/* labels in the sidebar should be black & not wrap */
.lendingSidebar .sc-label-view, .lendingSidebar .sc-checkbox-view .label {
  color: black;
  white-space:nowrap;
  text-overflow: ellipsis;
}
/* custom header size for Filter pane subheaders */
.filter-subheader.sc-label-view.sc-large-size,
.filter-header.sc-label-view.sc-large-size  {
	font-family: 'museo-slab-1','Arial','sans-serif';
	font-weight: 500;
  color: #333;
}
.filter-subheader.sc-label-view.sc-large-size {
  font-size: 14px;
}


.sc-split-divider-view {
	background-color: gray;
}
.klb-static-content {
	margin: 20px auto;
	width: 800px;
}
.klb-static-content li {
	margin-bottom:10px
}
.klb-static-content p {
	margin-bottom:15px
}
.kiva-figureRight {
	margin:10px 20px;
	float:right;
	padding:10px;
	border: 1px solid gray;
	width:250px;
	font-size:90%;
}
.kiva-figureRight img {
	width: 250px;
	height: 289px;
}

/****** COUNTRY PICKER PANE ***********/
/* for our "grid" view of buttons, left align text in the boxes */
.sc-theme .sc-view .sc-button-view.align-left .sc-button-label {
  text-align: left;
}

.sc-theme .buttonGridView .sc-button-view.sc-regular-size.square {
	border: 2px solid rgb(115, 188, 205);
	background: white;
	font-weight: normal;
	font-size: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	max-height:30px;
}

.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner{
	margin-top: 3px;
}

.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square .sc-button-inner .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.active .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.active .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-label,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
	background: none;
	text-shadow: none;
	color: black;
}

.buttonGridView .sc-button-view.sc-regular-size.square.active,
.buttonGridView .sc-button-view.sc-regular-size.square.sel.active {	
	background: #dcfefa;
}

.buttonGridView .sc-button-view.sc-regular-size.square.sel {
	background: rgb(115, 188, 205);
}
.buttonGridView .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	color: white;
}

.buttonGridView .sc-button-view.icon img.icon {
	margin-right: 4px;
	height: 24px;
	width: 24px;
}

