/*******************/
/* THEME OVERRIDES */
body.sc-theme #loading {
	background: none white;
}

#loading .header {
	top: 0px;
	height: 70px;
	border-bottom: 3px solid #006600;
	padding: 5px 10px;
}

.sc-theme #loading p.loading {
	background-color: white;
	color: #444444;
	text-align:center;
	top: 50%;
	right: auto;
	left: 50%;
	margin-left:-150px;
	width: 300px;
	height: 200px;
	font-size:18px;
	font-weight:bold;
	border: none;
}

.sc-theme #loading p.loading img {
	margin: 0 auto 10px auto;
	display: block;
}

.sc-theme .sc-main.sc-pane { 
	background: white;
	color: black;
}

/*********************************************/
/* HEADER */
.sc-segmented-view.mainNav a.sc-segment.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.sc-first-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sc-first-segment label,
.sc-segmented-view.mainNav a.sc-segment.active.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sc-first-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-first-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-first-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-first-segment label,
.sc-segmented-view.mainNav a.sc-segment.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.sc-middle-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sc-middle-segment label,
.sc-segmented-view.mainNav a.sc-segment.active.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sc-middle-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-middle-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-middle-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-middle-segment label,
.sc-segmented-view.mainNav a.sc-segment.sc-last-segment,
.sc-segmented-view.mainNav a.sc-segment.sc-last-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sc-last-segment label,
.sc-segmented-view.mainNav a.sc-segment.active.sc-last-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-last-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-last-segment .sc-button-inner,
.sc-segmented-view.mainNav a.sc-segment.active.sc-last-segment,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-last-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-last-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-last-segment label
{
	background-image:none;
	background:azimuth;
	color: #006600;
	font-size: 16px;
	text-shadow: none;
}

.sc-segmented-view.mainNav a.sc-segment.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.sc-last-segment
{
	background-color:white;
	border: #006600 solid 2px;
	height: 30px;
	margin: 0 10px;
}

.sc-segmented-view.mainNav a.sc-segment.sc-first-segment label,
.sc-segmented-view.mainNav a.sc-segment.sc-middle-segment label,
.sc-segmented-view.mainNav a.sc-segment.sc-last-segment label
{
	margin: 3px 0;
}

.sc-segmented-view.mainNav a.sc-segment.sel.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-last-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sel.sc-last-segment
{
	background-color:#8ac542;
	color: white;
}

.sc-segmented-view.mainNav a.sc-segment.active.sc-first-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sc-middle-segment,
.sc-segmented-view.mainNav a.sc-segment.active.sc-last-segment
{
	background-color: #ddffdd;
}

.sc-segmented-view.mainNav a.sc-segment.sel.sc-first-segment label,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-middle-segment label,
.sc-segmented-view.mainNav a.sc-segment.sel.sc-last-segment label
{
	color: white;
}