.sc-label-view.sc-regular-size.prehomeCaption {
	font-size: 21px;
	color: #86B300;
	font-weight:500;
}

.lenderStoryBox {
	background-color: #F7F3DE;
	border:dotted 1px #b3b3b3;
}
.lenderPointsCaption {
	font-weight:500;
}
.lenderPoints {
	background-image: sc_static('images/circle_digits.png');
}
.lenderPoints.itemTwo { background-position: -22px 0px; }
.lenderPoints.itemThree { background-position: -44px 0px; }
