/* SC.ProgressView - sc-theme */

/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227986917/progress.css */

.sc-theme .sc-progress-view {
	border: 1px solid #625560;
	background-color: #cfc8d0;
}

.sc-theme .sc-progress-view.disabled {
	background-color: #e8e4e8;
	border: 1px #9c939a solid;
}

.sc-theme .sc-progress-view .sc-inner {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-sprite.png?1241509782') repeat-x 0px -1130px;
	border-right: 1px solid #625560;
}

.sc-theme .sc-progress-view.sc-indeterminate .sc-inner {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-sprite.png?1241509782') repeat-x 0px -1470px;
}

