/* for our "grid" view of buttons, left align text in the boxes */
.sc-theme .sc-view .sc-button-view.align-left .sc-button-label {
  text-align: left;
}

/****** FILTER PANE ***********/
/* labels in the sidebar should be black & not wrap */
.klb-sbv .sc-label-view, .klb-sbv .sc-checkbox-view .label {
  color: black;
  white-space:nowrap;
  text-overflow: ellipsis;
}
/* custom header size for Filter pane subheaders */
.filter-subheader.sc-large-size  {
  font-size: 14px;
}
.sc-split-divider-view {
	background-color: gray;
}

/* FIXME: cleanup those old styles */
/* custom colors, styles for app chrome elements (eg, tool bars) */
.klb-chrome, .klb-subchrome {background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6E7EA1), to(#424C61), color-stop(.6,#3B4457)); }
.klb-subchrome { background-color: #999999;}
