.sc-theme .sc-view .sc-button-view.align-left .sc-button-label {
  text-align: left;
}

.klb-sbv .sc-label-view {
  color: black;
}

.filter-subheader.sc-large-size  {
  font-size: 14px;
}


/* FIXME: cleanup those old styles */
/* custom colors, styles for app chrome elements (eg, tool bars) */
.klb-chrome, .klb-subchrome {background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6E7EA1), to(#424C61), color-stop(.6,#3B4457)); }
.klb-subchrome { background-color: #999999;}
